.b-profile {
  text-align: center;
  -webkit-backface-visibility: hidden;
  -webkit-animation: fadein 0.4s; /* Safari and Chrome */

  margin: 0;
}

.b-profile-username {
  font-size: 0.7em;
}

.b-profile-link {
  display: block;
  padding: 0 !important;
}

.b-profile-userpic {
  display: block;
  padding-top: 1em;
}
