
<div class="b-feed b-entry b-entry__body">

<h2>Features и отличия от livejournal.com</h2>

<ul>

  <li><p>Для топа дополнительно собирается статистика по социальным сетям.</p></li>

  <li><p>Дополнительное форматирование постов, авторазбиение на параграфы.</p></li>  

  <li><p>При переходе из топа в запись и обратно, сохраняется позиция скролла.</p></li>

  <li><p>Все комментарии сразу развернуты, догрузка вниз вместо постраничной навигации.</p></li>

  <li><p>Пока нет OAuth авторизации, раздел <strong>Feed</strong> является френдлентой пользователя <em>agentcooper</em>.</p></li>

  <li><p>В <strong>History</strong> сохраняется вся история постов в рамках текущего браузера.</p></li>

</ul>

<h2>Roadmap</h2>

<ul>
<li><p>Поиск по тегам.</p></li>

<li><p>OAuth авторизация, чтобы пользователи смогли читать свою ленту.</p></li>
</ul>

<h2>Contacts</h2>

<p><a href="mailto:artem.tyurin@gmail.com" target="_blank">artem.tyurin@gmail.com</a></p>

<p><a href="https://github.com/agentcooper" target="_blank">https://github.com/agentcooper</a></p>

</div>
