<div class="b-comments b-commentbox-hidden" data-bind-class="{
  'b-comments-loading': 'loading',
  'b-comments-more': 'hasMore'
}">

  <p><a href="javascript:void(0);" class="b-replybutton">Leave a comment</a> or <a href="#" class="b-share">share this post</a></p>

  <ul class="b-thread"></ul>

  <span class="b-comments__more">Load more</span>

  <div class="b-comments--loading">
    Loading comments
    <div class="spinner">
      <div class="rect1"></div>&nbsp;<div class="rect2"></div>&nbsp;<div class="rect3"></div>&nbsp;<div class="rect4"></div>&nbsp;<div class="rect5"></div>
    </div>
  </div>

  <div class="b-commentbox">
    <p><textarea class="b-commentbox-area" id="comment_text" placeholder="Leave a comment"></textarea><p>
    <p><button class="b-commentbox-submit">Submit comment</button></p>
  </div>

</div>
