<li class="{{ 'b-comment-level-' + (comment.level > 15 ? 'over-15' : comment.level) }}">
      
  <div class="b-thread__comment {{comment.isAuthor ? 'b-thread__comment_author' : '' }}">
    <div class="b-thread__userpic" style="{{ 'background-image: url(' + comment.userpic + ')' }}"></div>

    <a class="b-thread__username" href="{{ '/read/' + comment.postername }}">{{ comment.identity_display || comment.postername }}</a>
    <p class="b-thread__body">{{ comment.body }}</p>
  </div>

</li>
