<ol class="b-feed" infinite-scroll="loadMore()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false" infinite-scroll-disabled="busy">

  <h1 class="b-header">Френдлента</h1>

  <% _.each(feed.entries, function(entry){ %>
  <li class="b-entry">
    <h2 class="b-entry__header">{{ entry.subject_raw }}</h2>

    <div class="b-post_aside" ng-click="go(entry.username);">
      <img class="b-post__userpic" src="{{ entry.poster_userpic_url }}">
      <p class="b-post__username">{{ entry.username }}</p>
      <p class="b-post__time">{{ entry.logtime }}</p>
    </div>

    <div class="b-entry__body">{{ entry.body }}</div>
    <a href class="b-boop__comments">{{ entry.reply_count }}</a>
  </li>
  <% }); %>

</ol>
