<ol class="b-history" data-bind-class=" { 'empty': 'empty' } ">

  <h1 class="b-header">Reading history and favorites</h1>

  <p ng-show="!history.length">
    You didn't read any entries yet. Check out <a href="/">main top</a>.
  </p>

  <p ng-show="history.length">
    Please note, that right now history and favorites are local to your browser.
  </p>

  <div ng-show="history.length" class="b-history__settings">
    <label>
      <input type="checkbox" ng-model="settings.showFavorites">
      Show only favorites
    </label>
  </div>

  <% _.each(entries, function(entry) { %>
  <li class="b-history__entry">
    <a class="b-history__link" href="/read/{{entry.user}}/{{entry.ditemid}}">
      <span class="b-history__entry__name">{{entry.subject}}</span> &mdash; {{entry.user}}</a>

    <span class="b-history__favorite" ng-class="{ 'b-history__favorite-active': entry.favorite }" ng-click="toggleFavorite(entry);"></span>
  </li>
  <% }); %>

</ol>
