<article class="b-post">
  <header class="b-post__header">
    <h1 class="b-post__title">{{ post.subject }}</h1>
    <a href="{{ '/read/' + post.journal }}" class="b-lj_user b-lj_user--big">{{ post.journal }}</a>
  </header>
  <div class="b-post__body">
    {{ post.body }}
  </div>

  <div
    class="b-share-options"
    data-journal="{{ post.journal }}"
    data-post-id="{{ post.post_id }}"
    >

    <a href="#" class="b-share__network" data-network="twitter">Twitter</a>

    <a href="#" class="b-share__network" data-network="facebook">Facebook</a>
  </div>

  <div class="b-post-comments"></div>
</article>
