<div class="b-profile">
  <a href="http://{{ username }}.livejournal.com" class="b-profile-link"><span class="b-profile-userpic"><img src="{{ defaultpicurl }}"><span><span class="b-profile-username">{{ username }}</span></a>
</div>
