<% if (profile) { %>
<div class="b-profile">
  <a href="http://{{ profile.username }}.livejournal.com" class="b-profile-link"><span class="b-profile-userpic"><img src="{{ profile.defaultpicurl }}"><span><span class="b-profile-username">{{ profile.username }}</span></a>
</div>
<% } else { %>
<a href="javascript:void(0);" class="b-menu-login">Login</a>
<% } %>
