      .b-feed .b-comments {
        max-height: 500px;
        overflow-y: scroll;
        font-size: 80%;
        overflow-x: hidden;
      }



      .b-feed .b-comments {
  overflow: auto;
  /*width: 200px;*/
/*  max-height: 200px;*/
  /*margin: 50px auto;*/

  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

    /* Shadows */
    radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

    /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}



.b-comments::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.b-comments::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.b-comments::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #E4F3FF;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.b-comments::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}




.b-comments__more {
  font-size: 200%;
  padding: 10px;
  font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #3F5F9E;
  cursor: pointer;
}

.b-thread__comment_author {
  /*background-color: rgb(244, 249, 253);*/
  /*padding: 5px;*/
}

.b-thread__comment_author .b-thread__username {
  font-weight: bold;
}

.b-thread__body > p:first-child {
  margin-top: 0;
}

.b-thread__userpic {
  width: 35px;
  height: 35px;
  background-size: cover;
  position: absolute;
  margin-left: -46px;
  margin-top: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.46);
}

      .b-thread {
        list-style: none;
        padding-left: 30px;
        max-width: 600px;
      }

      .b-thread__username {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .b-thread__body {
        margin-top: 0px;
        word-break: break-word;
      }

      .b-thread__username {
        font-size: 90%;
        text-decoration: none;
        color: #3F5F9E;
      }

      .b-comments {
        font-size: 120%;
      }

      .b-post .b-comments {
        border-top: 1px solid rgba(0, 0, 0, 0.25);
      }

      .b-comments img {
        max-width: 600px;
        height: auto;
      }


.b-comment-level-0   { padding-left:   0px; }
.b-comment-level-1   { padding-left:  20px; }
.b-comment-level-2   { padding-left:  40px; }
.b-comment-level-3   { padding-left:  60px; }
.b-comment-level-4   { padding-left:  80px; }
.b-comment-level-5   { padding-left: 100px; }
.b-comment-level-6   { padding-left: 120px; }
.b-comment-level-7   { padding-left: 140px; }
.b-comment-level-8   { padding-left: 160px; }
.b-comment-level-9   { padding-left: 180px; }
.b-comment-level-10  { padding-left: 200px; }
.b-comment-level-11  { padding-left: 220px; }
.b-comment-level-12  { padding-left: 230px; }
.b-comment-level-13  { padding-left: 240px; }
.b-comment-level-14  { padding-left: 260px; }
.b-comment-level-15  { padding-left: 280px; }

.b-comment-level-over-15 { padding-left: 300px; }

.b-comments--loading {
  font-size: 1.4em;
  text-align: center;
  color: #3F5F9E;
  font-weight: bold;
  font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


.b-comments .spinner {
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.b-comments .spinner > div {
  background-color: #3F5F9E;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.b-comments .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.b-comments .spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.b-comments .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.b-comments .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


      .b-comments--loading {
        display: none;
      }

      .b-comments-loading .b-comments--loading {
        display: block;
      }

      .b-comments__more {
        display: none;
      }

      .b-comments-more .b-comments__more {
        display: block;
      }

      .b-comments-loading .b-comments__more {
        display: none;
      }






.b-commentbox-area {
  width: 100%;
  height: 70px;
  font-size: 1.0em;
  font-family: inherit;
  padding: 0.5em;
  outline: none;
  border: 1px solid #D8D8D8;
}

.b-commentbox-hidden .b-commentbox {
  display: none;
}

.b-reply {
  visibility: hidden;
  font-size: 0.9em;
  margin-left: 0.5em;
}

.loggedIn .b-thread__comment:hover .b-reply {
  visibility: visible;
}

.b-replybutton {
  display: none;
}

.loggedIn .b-replybutton {
  display: block;
}
