.b-feed {
  list-style: none;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;

  font-size: 1.4em;
  line-height: 1.4em;
}

.b-entry__body a {
  text-decoration: none;
  border-bottom: 1px solid;
}

.b-entry__body p {
  text-align: left;
}

blockquote {
  border-left: 5px solid #DBDBDB;
  padding-left: 1em;
  color: #575757;
  font-style: italic;
}

.cut {
  cursor: pointer;
  background-color: #E4F3FF;
  padding: 1em;
}

.cut:before {
  content: 'Read more';
  color: #3F5F9E;
  display: block;
  text-align: center;
}

.b-feed pre {
  max-width: 100%;
  overflow: scroll;
}
