      .b-boop:hover {
        background-color: rgb(244, 249, 253);
        cursor: pointer;
      }

      .b-post__header {
        border-bottom: 1px solid #222;
        padding: 10px;
      }

      .b-boop__comments {
        font-size: 0.8em;
      }

      .b-boop__body {
        margin-top: 5px;
      }

      .b-lj_user {
        text-decoration: none;
        font-size: 1.4em;
      }

        .b-lj_user:before {
          content: url('../images/userhead.png');
          vertical-align: text-top;
          padding-right: 1px;
        }

      .b-boop__header {
        /*font-weight: bold;*/
        
      }

      .b-entry__tags a {
        font-size: 0.9em;
        font-style: italic;
        text-decoration: none;
        border-bottom: 1px solid;
      }

      .b-boop__header a {
        color: #3F5F9E;
        text-decoration: none;
        border-bottom: 1px solid;
        font-size: 1.5em;
      }

      .b-header {
        font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
      }

      .b-back {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 30px;
        background-color: #222;
        color: #222;
        height: 100%;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        vertical-align: middle;
        /*padding: 5px 15px 10px 15px;*/
        margin: 0px;
      }

        .b-back:hover {
          color: #444;
          background-color: #444;
        }

      .b-loading {
        position: fixed;
        left: 10px;
        top: 10px;
      }

      .b-entry {
        min-height: 300px;
        margin-bottom: 60px;
      }

      .b-entry__header {
        font-size: 1.5em;
      }

      .b-entry__body img {
        max-width: 720px;
        display: block;
        height: auto;
/*
        margin-left: auto;
        margin-right: auto;*/
      }

      .b-post__userpic {
        /*display: block;*/
        -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
box-shadow: 0 2px 5px rgba(0,0,0,0.46);
        /*float: right;*/
      }

      .b-post__username {
        word-break: break-word;
      }

      .b-post_aside {
      }

      .b-post_aside:hover {
        cursor: pointer;
        /*background-color: #EEE;*/
      }



      

      .b-post__time {
        font-size: 0.7em;
      }

      .b-boop__header:first-letter {
        text-transform: uppercase;
      }

.b-pseudo {
  text-decoration: none;
  border-bottom: 1px dotted;
  }

/* overrides */

.b-entry__body img[src*="/img/userinfo.gif"] {
  display: none;
}
