<ol class="b-feed" infinite-scroll="loadMore()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false" infinite-scroll-disabled="busy">

  <h1 class="b-header">Френдлента</h1>

  <div class="b-feed_entries"></div>

  <button class="b-feed__loadMore">More</button>

</ol>
