<% if (rating.top.length === 0) { return; } %>

<div class="b-rating">
  <h1 class="b-header">LiveJournal reader</h1>

  <div class="b-top__controls">
    Сортировать по
    <a href="javascript:void(0);" class="b-pseudo" data-sort="position">позиции</a>,
    <a href="javascript:void(0);" class="b-pseudo" data-sort="-tw_count">твитам</a>,
    <a href="javascript:void(0);" class="b-pseudo" data-sort="-fb_count">фейсбуку</a>,
    <a href="javascript:void(0);" class="b-pseudo" data-sort="-vk_count">вконтакте</a>,
    <a href="javascript:void(0);" class="b-pseudo" data-sort="-reply_count">комментариям</a> or <span class="b-top__lang"><% if (App.lang === 'ru') { %>switch to <a href="http://en.ljreader.com">english</a><% } else { %>switch to <a href="http://ljreader.com">russian</a><% } %></span>. <p>Рейтинг обновлен {{ moment(rating.built_at).fromNow() }}.</p> 
  </div>

  <ol class="b-social">
  <% _.each(rating.top, function(post){ %>

  <li class="b-social-item">

      <a class="b-social-link" href="{{ '/read/' + post.journal + '/' + post.postId }}">

        <span class="b-social-header">{{ post.title }}</span>
        
        <div class="b-social-body">{{ post.body }}</div>

        <span class="b-social-details"><span class="user">{{ post.journal }}</span></span>

        <div class="b-social-stats">
          <span class="b-entry__twitter"><span class="b-entry__tweets">{{post.tw_count}}</span></span></span><span class="b-entry__fb"><span>{{ post.fb_count }}</span></span><span class="b-entry__livejournal"><span>{{post.reply_count}}</span></span><span class="b-entry__vk"><span>{{ post.vk_count }}</span></span>
        </div>
      </a>

  </li>

  <% }); %>
  </ol>

</div>
