.b-selected {
  color: red;
  }

      .b-rating {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }

.b-social-link {
  text-decoration: none;
  display: block;
  padding: 10px;
}

.b-social-image {
  max-width: 100%;
}

.b-social-body {
  color: black;
  padding-top: 1em;
}

.b-social-item {
  /*padding: 10px;*/
}

.b-social-link:hover {
  background-color: rgb(244, 249, 253);
}

.b-social-link:visited,
.b-social-link:active {
  color: rgb(85, 26, 139);
}

.b-social {
  padding: 0;
  list-style-position: inside;
}

.b-social-header {
  margin-top: 0;
  display: inline;
  font-weight: normal;
  border-bottom: 1px solid;
  font-size: 1.5em;
}

.b-social-details {
  color: #000;
  display: block;
  padding-top: 0.5em;
  font-size: 1.2em;
}

.b-social-stats {
  padding-top: 1em;
  color: black;
}

.b-selected {
  color: red;
  }

.b-entry {
  padding-top: 10px;
  }

  .b-entry__title {
    font-size: 1.3em;
    }

  .b-entry__tweets {
    text-decoration: none;
    /*border-bottom: 1px dotted;*/
    }

  .b-entry__twitter {
    }

    .b-entry__twitter:before {
      content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAACK0lEQVQ4y6VSS08TYRQ903l0+oD5pg2VgGZaYiVNNLSEhI2mdmN0ZxCNG6MYWBrAH2DFxK2gLtwh6tZoghrixrbRTROQ+kgIaWNniI+mCJ3RUlraYVxIlTatLji7m3vPzb3nHMowDOwFDPYIBgByxbIg8qzWaCBXLAs3YsvhROZHwE2s8rXgoeseYlUAIK0WJOrtN9U/9OzDTORCf7B+Sa5YFkKP4rF3htgD3gaUSxDUL9rQYdd0VF4LhUO+m1REWT8Zer0xJ60nladne08H2oVEdcFkPD1+NcXeAm/7u1WvAGoWrYTkB4TN54wkWL6CB5Q2n9T7cGHxUrdjpnqmCvMB8Jban2gGcHbgchf7YjLQOUG9ktdOzKr8yFSqNAgAULNAdgVuK5U2nJ2sYmnf30gb44zoBZBiRAtXmHqZHoSz43eHuADiglwueZop7yd0CkAKABi/y54Y6/c8/nNBFay5qXVBYXt+t4350S7mbitLFW4niwNaBfb/eT/Wbb1XkwPCUkuzH1f6NDjsoP+drYsSN+du4eLVmtqJMg3Af18unYt9rxx5oGydavZ75KjtPDHTC/VR1hczmi5nfjJRudQD1tGYfMw+TDhToibK4ejyxJ34pysqZRbR4gTEfTVEgUF+1Ms/GT9oniac6Q0AfXefMgxDym1t+6Krlb6Epnvfq7pH4Ki8ZDWt+gU6ebyNmRc50xKAz/Xkeg1EADYA9p3BTQAbAHKNiFX8AiViytZyfJ3jAAAAAElFTkSuQmCC);
      vertical-align: text-top;
      }

  .b-entry__livejournal {
    padding-left: 10px;
    }

    .b-entry__livejournal:before {
      content: url('../images/livejournal.png');
      vertical-align: text-top;
      padding-right: 2px;
      }

  .b-entry__fb {
    padding-left: 10px;
    }

    .b-entry__fb:before {
      content: url('../images/facebook.png');
      vertical-align: text-top;
      padding-right: 2px;
      }

  .b-entry__vk {
    padding-left: 10px;
    }

      .b-entry__vk:before {
        content: url('../images/vkontakte.ico');
        vertical-align: text-top;
        padding-right: 2px;
      }
