<div class="b-comments">

  <ul class="b-thread">
    <li bindonce ng-repeat="comment in comments" bo-class="'b-comment-level-' + (comment.level > 15 ? 'over-15' : comment.level)">
      
      <div class="b-thread__comment" bo-class="{ 'b-thread__comment_author': isAuthor(comment) }">
        <div class="b-thread__userpic" bo-style="{ 'background-image': 'url(' + comment.userpic + ')' }"></div>

        <a class="b-thread__username" bo-href="'/read/' + comment.postername" bo-text="comment.identity_display || comment.postername"></a>
        <p class="b-thread__body" bo-html="comment.body"></p>
      </div>

    </li>
  </ul>

  <span class="b-comments__more" ng-show="hasMore() && !loading" ng-click="loadMore()">Load more</span>

  <div class="b-comments--loading" ng-show="loading">
    Loading comments
    <div class="spinner">
      <div class="rect1"></div>&nbsp;<div class="rect2"></div>&nbsp;<div class="rect3"></div>&nbsp;<div class="rect4"></div>&nbsp;<div class="rect5"></div>
    </div>
  </div>

</div>
