<ol class="b-feed">

  <li bindonce ng-repeat="entry in journal" class="b-entry">
    <span class="b-boop__header"><a bo-href="entry.url" bo-text="entry.subject || '(no subject)'"></a></span>

    <div class="b-post_aside">
      <img class="b-post__userpic" bo-src="entry.poster_userpic_url">
      <span class="b-post__username" bo-html="entry.username"></span>
    </div>

    <p class="b-entry__body" bo-html="entry.body"></p>

    <p class="b-entry__tags" bo-html="entry.props.tags"></p>

    <span class="b-boop__comments" bo-text="entry.reply_count"></span>
  </li>

</ol>
